body {
    background: url(../images/bg-menu.jpg);
}
.ready-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #23211f;
	padding: 30px;
	border-radius: 10px;
}
.ready-form input[type="text"] {
	padding: 13px 10px 12px 10px;
	border-radius: 50px 0px 0px 50px;
	border: 0;
	outline: 0;
}
.ready-form input[type="submit"] {
	padding: 10px;
	border-radius: 0px 50px 50px 0px;
	border: 0;
	background: #ffad33;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	outline: 0;
}